<h1>マイページ編集</h1>
<%= form_with model:@customer, url:public_customers_path, local:true do |f| %>
  <div class="form-group">
            <tr>
              <th for="inputName">氏名</th>
              <td>
                <%= f.text_field :last_name, autofocus: true, id:"inputFirst_name", placeholder:"姓" %>
                <%= f.text_field :first_name, id:"inputLast_name", placeholder:"名" %>
              </td>
            </tr>


          <div class="form-group">
          <tr>
            <th for="inputName">フリガナ</th>
            <td>
              <%= f.text_field :last_name_kana, id:"inputFirst_name_kana", placeholder:"セイ" %> <%= f.text_field :first_name_kana, autofocus: true, id:"inputLast_name_kana", placeholder:"メイ" %>
            </td>
          </tr>
        </div>

        <div class="form-group">
          <tr>
            <th for="inputPostal_code">郵便番号</th>
            <td>〒<%= f.text_field :post_code, id:"inputPost_code", placeholder:"郵便番号" %></td>
          </tr>
        </div>

        <div class="form-group">
          <tr>
            <th for="inputAddress">住所</th>
            <td><%= f.text_field :prefecture_code, id:"inputAddress", placeholder:"都道府県" %><%= f.text_field :city_code, id:"inputCity_code", placeholder:"市町村" %><%= f.text_field :street, id:"inputStreet", placeholder:"番地" %><%= f.text_field :other_address, id:"inputOther_address", placeholder:"マンション名等" %></td>
          </tr>
        </div>


        <div class="form-group">
          <tr>
            <th for="inputTelephone_number">電話番号</th>
            <td><%= f.text_field :telephone_number, id:"inputTelephone_number", placeholder:"電話番号" %></td>
          </tr>
        </div>

        <div class="form-group">
          <tr>
            <th for="inputEmail">メールアドレス</th>
            <td><%= f.text_field :email, id:"inputEmail", placeholder:"メールアドレス" %></td>
          </tr>
        </div>
        <div class="form-group">
          <%= f.submit "編集内容を保存", class: "btn btn-outline-primary" %>
        </div>


<% end %>